@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Variables
===============
*/

:root {
  /* ## Colors */

  /* ### Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

.btn{
  padding: 0.8rem 1.25rem;
  border-radius: 0.35rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn__next{
  background: var(--Marine-blue);
  color: var(--White);
}

.btn__confirm{
  background: var(--Purplish-blue);
}
.btn{
  padding: 0.8rem 1.25rem;
}

.light-gray-text{
  color: var(--Cool-gray);
}

.hide{
  visibility: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--Magnolia);
  color: var(--Marine-blue);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media only screen and (max-width: 720px) {
  body{
    display: block;
    min-height: unset;
  }
}

main{
  max-width: 800px;
  min-height: 400px;
  background: var(--White);
  padding: 1rem;
  display: grid;
  grid-template-columns: 250px auto;
  gap: 1rem;
  border-radius: 0.8rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 720px) {
  main{
    max-width: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

/* //===============SIDEBAR===================== */
.sidebar{
  grid-row: span 2;
  background:  var(--Purplish-blue);
  color: var(--White);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: url(assets/images/bg-sidebar-desktop.svg);
}

@media only screen and (max-width: 720px) {
  .sidebar{
    flex-direction: row;
    justify-content: space-between;
    background: url(assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 200px;
    padding-top: 3rem;
  }
}

.sidebar__step{
  display: flex;
  gap: 1rem;
}
.sidebar__step{
  display: flex;
  gap: 1rem;
}

.step__title{
  font-size: 0.75rem;
  color: var(--Light-gray);
}

.step__num-wrapper span{
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    outline: 1px solid;
    outline-color: var(--White);
    font-weight: 700;
}
.step__num-wrapper--active span{
  background-color: var(--Pastel-blue);
  color: var(--Marine-blue);
  outline-color: transparent;
}

@media only screen and (max-width: 720px) {
  .sidebar__step-wrapper{
    display: none;
  }
}
.section, .steps{
  padding: 2rem 3rem;
}

.content__wrapper{
  min-height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 720px) {
  .content__wrapper{
    margin: 0 1rem;
    border-radius: 0.5rem;
    transform: translateY(-5rem);
    background: var(--White);
    min-height: unset;
  }
}

.section{
  min-width: 500px;
}

@media only screen and (max-width: 720px) {
  .section{
    min-width: unset;
  }
}

.section__addon .form-group{
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.section__thanks{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group, .input-group{
  display: flex;
  flex-direction: column;
}
.input-group label{
  font-weight: 500;
}

.form-group{
  gap: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.input-group input{
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  border: 1px solid hsl(229, 24%, 87%);
}

.steps{
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  justify-self: flex-end;
}

.plan-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .plan-cards{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.plan-card{
  padding: 1rem;
  border: 1px solid var(--Light-gray);
  border-radius: 0.5rem;
}
.plan-card:hover{
  border: 1px solid var(--Marine-blue);
}
@media only screen and (max-width: 720px) {
  .plan-card{
    display: flex;
    gap: 2rem;
  }
}
.plan-card img{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 720px) {
  .plan-card img{
    margin-bottom: 0;
  }
}


.plan-card__title{
  font-size: 0.95rem;
}

.plan-card--active{
  border: 1px solid var(--Marine-blue);
}


.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle p {
  display: inline;
  margin: 1rem;
  color: hsl(234, 14%, 74%);
}


/*=======================Custom Toggle====================*/


/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}


/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus+.slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* ==============Addon Styles============== */
.addon-group {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
}
.addon-group h2 {
  font-size: 1rem;
}

.addon-group:has(input:checked){
  border: 1px solid var(--Purplish-blue);
}
.checkbox-group{
  display: flex;
  gap: 1rem;
}
/* ==============sUMMARY Styles============== */
.summary-group {
  display: flex;
  justify-content: space-between;
}

.summary-group h2{
  font-size: 1.2rem;
}

.section__thanks{
  text-align: center;
}


/* ==========Error inputs=============*/
.error_input{
  color: var(--Strawberry-red);
  font-size: 0.85rem;
}

.error_border{
  border: 1px solid var(--Strawberry-red) !important;
}

.cost{
  font-weight: 700;
}

.cost__total{
  font-weight: 700;
  color: var(--Purplish-blue);
}